<div class="mb-5">
  <table>
    <% genres.each do |genre| %>
      <tr>
        <td><%= genre.category %></td>
        <td><%= genre.name %></td>
        <% if current_user.is_admin == true %>
          <td cxlass="ml-2">
            <%= link_to genre_path(genre), method: :delete do%>
              <i class="fas fa-trash"></i>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
<% if current_user.is_admin == true %>
  <%= render 'layouts/errors', obj: genre %>
  <%= form_with model: genre do |f| %>
    <div class="row form-group mt-3">
      <div>
        <%= f.text_field :category, class: "form-control", placeholder: "tops/bottoms/...etc" %>
      </div>
      <div>
        <%= f.text_field :name, class: "form-control", placeholder: "shirts/pants/...etc" %>
      </div>
      <div class="ml-3">
        <%= f.submit "create", class: "btn btn-outline-secondary" %>
      </div>
    </div>
  <% end %>
<% end %>