<% want_items.each do |want_item| %>
<!--投稿一覧-->
  <div class="row mb-3 want-item">
    <div class="col-md-2">
      <%= link_to user_path(want_item.user) do %>
        <%= image_tag want_item.user.get_profile_image(80,80) %>
        <%= want_item.user.name %>
      <% end %>
    </div>

    <div class="col-md-9 px-5 want-content">
      <div class="row genre-box">
        <% if want_item.category.present? %>
          <%= want_item.category.name %>
        <% end %>
      </div>
      <div class="row mt-4 mb-3">
        <%= want_item.content %>
      </div>
      <% if want_item.want_image.present? %>
        <div class="row pb-3">
          <%= image_tag want_item.get_want_image(400,300) %>
        </div>
      <% end %>
      <% if want_item.budget.present? %>
        <div class="row pb-2">
          予算：<%= want_item.budget %>円
        </div>
      <% end %>
      <% if want_item.tags.present? %>
        <div class="row pb-2">
          <% want_item.tags.each do |tag| %>
            &ensp;
            <span class="want-tags">
              <%= link_to search_path(content: tag.name, model: "tag", method: "perfect") do %>
                <%= tag.name %>
              <% end %>
            </span>
          <% end %>
        </div>
      <% end %>

      <% if user_signed_in? && want_item.user == current_user && want_item.is_answer == true %>
        <%= link_to want_items_path(id: want_item.id) do %>
          <i class="fas fa-edit"></i>
        <% end %>
      <% end %>

<!--コメント欄を閉じる-->
        <% if user_signed_in? && want_item.user == current_user && want_item.is_answer == true %>
          <div class="row a-box">
            <%= form_with model: want_item, method: :patch do |f| %>
              <%= f.hidden_field :is_answer, :value => false %>
              <%= f.submit "resolved ?", class: "btn btn-sm btn-default", data: {confirm: "コメント欄を閉じますか？ ※この操作は取り消せません"} %>
            <% end %>
          </div>
        <% elsif want_item.is_answer == false %>
          <div class="row a-box-false">
            見つかった！
          </div>
        <% end %>

      <% if user_signed_in? && (want_item.user == current_user || current_user.is_admin == true) %>
        <%= link_to want_item_path(want_item), method: :delete, data: {confirm: "本当に削除しますか？"}  do %>
          <i class="fas fa-trash"></i>
        <% end %>
      <% end %>
    </div>
  </div>

<!--コメント-->
  <% if current_page?(want_items_path) %>
    <div class="row">
      <div class="col-md-8 offset-3 text-right mb-5 hide">
        <% if want_item.is_answer == true && user_signed_in? %>
          <span class="flash">▼ send answer</span>
        <% elsif want_item.want_answers.present? %>
          <span class="flash">▼ look answer</span>
        <% end %>
      </div>
<!--コメントフォーム-->
      <div class="col-md-9 offset-3 open">
        <% if user_signed_in? && want_item.is_answer == true %>
          <%= render 'want_answers/form', want_item: want_item, answer: @answer %>
        <% end %>
        <% if want_item.want_answers.present? %>
          <div class="answer-index_<%= want_item.id.to_s %>">
            <%= render 'want_answers/index', want_item: want_item %>
          </div>
        <% end %>
      </div>
    </div>
<!--コメント一覧-->
  <% elsif current_page?(user_path(want_item.user)) && want_item.want_answers.present? %>
    <div class="answer-index_<%= want_item.id.to_s %>">
      <%= render 'want_answers/index', want_item: want_item %>
    </div>
  <% end %>
<% end %>