<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-4">
      <div class="category-menu mb-2">
        <h5 class="mb-3">カテゴリ</h5>
          <%= render 'categories/index', categories: @categories, category: @category, group: @group %>
      </div>
      <div class="tag-menu">
        <h5 class="mb-3">タグ</h5>
        <div>
          <% @tags.each do |tag| %>
            &ensp;
            <p class="want-tags">
              <%= link_to search_path(content: tag.name, model:"tag", method: "perfect") do %>
                <%= tag.name %>
              <% end %>
            </span>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <% if user_signed_in? %>
        <div class="row mb-4">
          <%= render 'form', want_item: @want_item %>
        </div>
      <% end %>
      <%= render 'index', want_items: @want_items %>
    </div>
  </div>
</div>