<% users.each do |user| %>
  <div class="row">
    <div class="col-md-3 text-center">
      <%= link_to user_path(user) do %>
        <%= image_tag user.get_profile_image(100,100), class: "rounded-circle" %>
      <% end %>
    </div>
    <div class="col-md-2 d-flex align-items-center">
      <%= link_to user_path(user) do %>
        <%= user.name %>
      <% end %>
    </div>
    <div class="col-md-3 d-flex align-items-center follow-btn-<%= user.id %>">
      <%= render "relationships/btn", user: user %>
      <% if current_user != user && current_user.following?(user) && user.following?(current_user) %>
      <i class="fas fa-handshake mx-3"></i>
      <%= render "letters/letter_btn", user: user %>
      <% end %>
    </div>
  </div>
<% end %>
<%= paginate users %>