<% users.each do |user| %>
  <div class="row">
    <div class="col-md-3 text-center">
      <%= link_to user_path(user) do %>
        <%= image_tag user.get_profile_image(100,100), class: "rounded-circle" %>
      <% end %>
    </div>
    <div class="col-md-2 d-flex align-items-center">
      <%= link_to user_path(user) do %>
        <%= user.name %>
      <% end %>
    </div>
    <div class="col-md-2 d-flex align-items-center">
      <span class="follow-btn-<%= user.id %>"><%= render "relationships/btn", user: user %>
    </div>
    <% if current_user != user && current_user.following?(user) && user.following?(current_user) %>
      <div class="col-md-1 d-flex align-items-center">
        <i class="fas fa-handshake"></i>
        <%= link_to 'letter', letter_path(user), class: "btn btn-outline-secondary ml-3" %>
      </div>
      </span>
    <% end %>
  </div>
  <% end %>