<% users.each do |user| %>
  <div class="row">
    <div class="col-md-4 text-center my-2">
      <%= link_to user_path(user) do %>
        <%= image_tag user.get_profile_image(100,100), class: "rounded-circle" %>
      <% end %>
    </div>
    <div class="col-md-3 d-flex align-items-center">
      <%= link_to user_path(user) do %>
        <%= user.name %>
      <% end %>
    </div>
    <% if current_user.is_admin == false %>
      <div class="col-md-4 offset-1 d-flex align-items-center follow-btn-<%= user.id %>">
        <%= render "relationships/btn", user: user %>
        <% if current_user != user && current_user.following?(user) && user.following?(current_user) %>
        <i class="fas fa-handshake mx-3"></i>
        <%= render "letters/letter_btn", user: user %>
        <% end %>
      </div>
    <% else %>
      <% if user.is_active == true %>
        <div class="col-md-4 offset-1 d-flex align-items-center">
          <%= link_to "ユーザーの利用を停止する", user_withdraw_path(user), method: :patch %>
        </div>
      <% else %>
        <div class="col-md-4 offset-1 d-flex align-items-center">
          <%= link_to "ユーザーの利用を再開する" %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
<%= paginate users %>