<div class="polaroid my-3">
  <% if current_user == user && current_user.is_admin == false %>
    <%= link_to edit_user_path(user) do %>
      <i class="fas fa-cog gear"></i>
    <% end %>
  <% end %>

  <%= image_tag user.get_profile_image(180,180) %>
  <p>
    <%= user.name %>
    <% if user.instagram.present? %>
      <%= link_to user.instagram, target: "_blank", rel: "noopener noreferrer" do %>
        <%=image_tag "instagram.png", class: "icon" %>
      <% end %>
    <% end %>
    <% if user.twitter.present? %>
      <%= link_to user.twitter, target: "_blank", rel: "noopener noreferrer" do %>
        <%=image_tag "twitter.png", class: "icon" %>
      <% end %>
    <% end %>
  </p>
</div>
<div class="mb-3">
  <p class="introduction"><%= user.introduction %></p>
</div>

<div class="row mb-3 follow-btn-<%= user.id %>">
  <%= render "relationships/btn", user: user %>
  <%= render "letters/letter_btn", user: user %>
</div>