<% recommends.each do |recommend| %>
  <div class="m-3 pb-3 recommend-item">
    <div class="item">
      <%= image_tag recommend.get_recommend_image(260,260) %>
      <p><%= recommend.content %></p>
      <% if recommend.url.present? %>
        <p><%= Rinku.auto_link(recommend.url, :all, 'target="_blank"').html_safe %></p>
      <% end %>
    </div>
    <div class="d-flex mt-3 recommend-user">
      <%= link_to user_path(recommend.user) do%>
        <%= image_tag recommend.user.get_profile_image(50,50), class: "rounded-circle mr-4" %>
        <%= recommend.user.name %>
      <% end %>
    </div>
    <% if user_signed_in? %>
      <div class="recommend-edit-btn">
        <% if recommend.user == current_user %>
          <%= link_to edit_recommend_path(recommend) do %>
            <i class="fas fa-pen mr-2"></i>
          <% end %>
        <% else %>
          <span class=<%= "favorite-" + recommend.id.to_s %> >
            <%= render 'favorites/btn', recommend: recommend %>
          </span>
        <% end %>
        <% if recommend.user == current_user || recommend.user.is_admin == true %>
          <%= link_to recommend_path(recommend), method: :delete do %>
            <i class="fas fa-trash ml-1"></i>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>