<div class="container pt-3">
  <div class="row justify-content-center">
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <%= image_tag 'slide/main0.jpg', width:600, height:400 %>
        </div>
        <div class="swiper-slide">
          <%= image_tag 'slide/main1.jpg', width:600, height:400 %>
        </div>
        <div class="swiper-slide">
          <%= image_tag 'slide/main2.jpg', width:600, height:400 %>
        </div>
        <div class="swiper-slide">
          <%= image_tag 'slide/main3.jpg', width:600, height:400 %>
        </div>
        <div class="swiper-slide">
          <%= image_tag 'slide/main4.jpg', width:600, height:400 %>
        </div>
        <div class="swiper-slide">
          <%= image_tag 'slide/main5.jpg', width:600, height:400 %>
        </div>
        <div class="swiper-slide">
          <%= image_tag 'slide/main6.jpg', width:600, height:400 %>
        </div>
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</div>