<% want_clothes.each do |want_clothes| %>
  <div class="row mb-3">
    <div class="col-md-2">
      <%= link_to user_path(want_clothes.user) do %>
        <%= image_tag want_clothes.user.get_profile_image(80,80) %>
        <%= want_clothes.user.name %>
      <% end %>
    </div>
    <div class="col-md-9 px-5 want-content">
      <div class="row pb-3">
        <%= want_clothes.content %>
      </div>
      <% if want_clothes.want_image.present? %>
        <div class="row pb-2">
          <%= image_tag want_clothes.get_want_image(400,300) %>
        </div>
      <% end %>
      <% if want_clothes.budget.present? %>
        <div class="row pb-2">
          予算：<%= want_clothes.budget %>円
        </div>
      <% end %>
      <% if want_clothes.tags.present? %>
        <div class="row pb-2">
          <i class="fas fa-tags"></i>
          <% want_clothes.tags.each do |tag| %>
            <%= link_to search_path(content: tag.name, model:"tag", method: "perfect") do %>
              <%= "　" + tag.name %>
            <% end %>
          <% end %>
        </div>
      <% end %>

      <% if want_clothes.user == current_user %>
        <%= link_to want_clothes_path(id: want_clothes.id) do %>
          <i class="fas fa-pen"></i>
        <% end %>
      <% end %>

      <% if want_clothes.user == current_user || want_clothes.user.is_admin == true %>
        <%= link_to want_clothe_path(want_clothes), method: :delete do %>
          <i class="fas fa-trash"></i>
        <% end %>
      <% end %>

        <!--want_clothes.genre.name-->
        <%=  %>
    </div>
  </div>
  <% if current_page?(want_clothes_path) %>
    <div class="row">
      <div class="col-md-8 offset-2 text-right mb-5">
        <span onclick="obj=document.getElementById('commentopen_<%= want_clothes.id.to_s%>').style; obj.display=(obj.display=='none')?'block':'none';">
          <a style="cursor:pointer;">▼send answer ?</a>
        </span>
      </div>
    </div>
    <span id="commentopen_<%= want_clothes.id.to_s %>" style="display: none; clear: both;">
      <% if user_signed_in? %>
        <%= render 'want_answers/form', want_clothes: want_clothes, answer: @answer %>
      <% end %>
      <% if want_clothes.want_answers.present? %>
        <div class="answer-index_<%= want_clothes.id.to_s %>">
          <%= render 'want_answers/index', want_clothes: want_clothes %>
        </div>
      <% end %>
    </span>
  <% elsif current_page?(user_path(want_clothes.user)) && want_clothes.want_answers.present? %>
    <div class="answer-index_<%= want_clothes.id.to_s %>">
      <%= render 'want_answers/index', want_clothes: want_clothes %>
    </div>
  <% end %>
<% end %>