<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-4">
      <div class="category-menu mb-2">
        <h5 class="hide">カテゴリ</h5>
          <%= render 'genres/index', genres: @genres, genre: @genre %>
      </div>
      <div class="tag-menu">
        <h5 class="hide">タグ</h5>
        <div class="open">
          <table>
            <% @tags.each do |tag| %>
              &ensp;<i class="fas fa-tags"></i><%= link_to search_path(content: tag.name, model:"tag", method: "perfect") do %>
                <%= tag.name %>
              <% end %>
            <% end %>
          </table>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <% if user_signed_in? %>
        <div class="row mb-4">
          <%= render 'form', want_clothing: @want_clothing %>
        </div>
      <% end %>
      <%= render 'index', want_clothes: @want_clothes %>
    </div>
  </div>
</div>