<% if @model == 'user' %>
	<h3>Users search for "<%= @content %>"</h3>
  <%= render 'users/index', users: @records %>
<% elsif @model == 'want_item' || @model == 'tag' %>
	<h3>Want_items search for "<%= @content %>"</h3>
  <%= render 'want_items/index', want_items: @records %>
<% elsif @model == 'recommend' %>
	<h3>Recommends search for "<%= @content %>"</h3>
  <%= render 'recommends/index', recommends: @records %>
<% end %>