<!--カテゴリ一覧-->
<% CategoryGroup.all.each do |group| %>
<ul id="accordion_menu" class="mb-3 ml-3 list-unstyled">
  <li class="mb-2">
    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0" data-toggle="collapse" href="#group<%= group.id.to_s %>" aria-controls="#group<%= group.id.to_s %>" aria-expanded="false">
      <%= group.name %>
    </button>
    <% if user_signed_in? && current_user.is_admin == true %>
      <%= link_to category_group_path(group), method: :delete do %>
        <i class="fas fa-trash"></i>
      <% end %>
    <% end %>
  </li>
  <ul id="group<%= group.id.to_s %>" class="collapse btn-toggle-nav list-unstyled fw-normal pb-1 small" data-parent="#accordion_menu">
    <li>
      <%= link_to "All", want_item_category_group_path(group) %>
    </li>
    <% Category.where(category_group_id: group.id).each do |category| %>
      <li>
        <%= link_to category.name, want_item_category_path(category) %>
        <% if user_signed_in? && current_user.is_admin == true %>
          <%= link_to category_path(category), method: :delete do %>
            <i class="fas fa-trash"></i>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
</ul>
<% end %>
<% if user_signed_in? && current_user.is_admin == true %>
<!--大分類追加-->
  <%= render 'category_groups/form', group: group %>
<!--カテゴリ追加-->
  <%= render 'categories/form', category: category %>
<% end %>